body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    height: 80px;
    font-weight: bolder;
    background-color: #f0f0f0;
}

.sth{
    display: flex;
}

.sth a{
    padding: 20px;   
}

.job{
    color: #3189C9;
    font-weight: 600;
    font-size: 30px;
}

.khoja{
    color: black;
    font-weight: 600;
    font-size: 30px;
}

.blue{
    color: #3189C9;
}

.bgb{
    color: white;
    background: #3189C9;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.bgo{
    color: white;
    background: #DF8D2D;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}
.login{
    align-items: center;
    line-height: 0;
}

/*midsection*/

#face{
    background-color: white;
}

.box{
    display: block;
    text-align: center;
    border-bottom: 2px solid black;
    font-size: larger;
    padding-bottom: 10px;
    margin: 0 40px;
}

.abtus{
    margin: 35px 100px;
    padding: 20px;
    border-collapse: collapse;
    border: 2px solid black;
    border-radius: 30px;
}

.flex{
    display: flex;
    margin: 50px 30px;
    padding: 0 30px;
    justify-content: space-between;
}

.abtdes{
    display: block;
    padding-left: 50px;
}

/*our sevives*/
.ourserv{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.our{
    border: none;
    font-size: larger;
}

input{
    border-radius: 40px;
    height: 40px;
    margin: 20px 200px;
}

/*footer*/

footer{
    background-color: #202a40;
    color: white;
}
.foot{
    display: flex;
    justify-content: space-between;
    padding: 20px 100px 20px 70px;
}

.foot a{
    text-decoration: none;
    color: white;
}

.foot ul{
    list-style: none;
}

.desc{
    width: 500px;
    display: block;
    margin: auto 0;
}

.footlogo{
    position: relative;
    display: block;
    height: 150px;
    text-align: center;
    line-height: 120px;
    z-index: 1;
}

.circ{
    background-color: white;
    display: block;
    width: 125px;
    height: 125px;
    position: absolute;
    top: 0px;
    right: 570px;
    border-radius: 100px;
    z-index: -1;
}

.footlogo .job{
    font-size: 20px;
    color: #3189C9;
}

.footlogo .khoja{
    font-size: 20px;
    color: #DF8D2D;
}

.copy{
    display: block;
    text-align: center;
    background-color: #303031;
    font-size: 10px;
    padding: 10px;
    margin: 0px;
}