

body{
    margin: 0;
    padding: 0;
    font-family: 'Heebo', sans-serif;
    background-color: #4ce7ff;
}

.main{
  margin: 50px 150px;
  background-color: white;
}

.container{ 
  width: 100%;
  height: 500px;
  display: flex;
}

.imgs{
    /* position: absolute;
    left:0; */
    background-image: url(cool.jpg);
    width: 400px;
    background-size: cover;


}

.login{
     display: block;
     padding: 10px 80px;
     position: relative;

}

.job{
  color: #3189C9;
  font-weight: 600;
  font-size: 40px;
}

.khoja{
  color: #DF8D2D;
  font-weight: 600;
  font-size: 40px;
}
 
  .btn{
    
    background-color: #3189C9;
    color: white;
    padding: 10px 24px;
    margin: 8px 0;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    text-transform: uppercase;
    position: absolute;
    right: 10%;
  }
  .btn-1{
    
    background-color: #DF8D2D;
    color: white;
    padding: 10px 24px;
    margin: 8px 0;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    text-transform: uppercase;
    position: absolute;
    right: 10%;
  }

  .btn:hover{
    background-color: #1a8ddf;
  }
  .btn-1:hover {
    background-color: #ca7310;
    
  }
  .container h1{
    
    
    font-size: 38px;
    /* border-bottom: 5px solid purple; */
    margin-bottom: 15px;
    padding: 13px 0;
}

.box{
    border-bottom: 3px solid green;
    margin: 32px 0px;
}

.box input{  
    background: none;
    width: 75%;
    padding: 5px 10px;
    font-size: 20px;
    border: none;
    outline:none;
}

.fa-times{
  position:absolute;
  top: 20px;
  right: -20px;
  font-size: 40px;
  color: black;
  filter: opacity(0.5);
}


.box i{
    color: #ccc;
}
.tick{
    color: grey;
}
.txt{
    font-size: 10px;
    font-weight: bold;

}
div a{
    color: #1c84da;
}