@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
* {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

::-webkit-scrollbar {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, 0.8);
    border-radius: 10px;
    width: 5px;
}

body {
    margin: 0;
    font-family: 'roboto', Arial, Helvetica, sans-serif;
    background-color: gainsboro;
    position: relative;
    overflow: overlay;
}

a {
    text-decoration: none;
    color: black;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    height: 80px;
    font-weight: bolder;
    background-color: gainsboro;
    position: sticky;
    top: 0px;
    z-index: 2;
    border-bottom: 2px solid gray;
}

.sth {
    display: flex;
}

.sth a {
    padding: 20px;
}

.job {
    color: #3189C9;
    font-weight: 600;
    font-size: 30px;
}

.khoja {
    color: black;
    font-weight: 600;
    font-size: 30px;
}

.blue {
    color: #3189C9;
}

.bgb {
    color: white;
    background: #3189C9;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.bgo {
    color: white;
    background: #DF8D2D;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.login {
    align-items: center;
    line-height: 0;
}

#home {
    color: white;
    font-size: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .5);
    height: 520px;
}

#home::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url(bgg.jpg) no-repeat center center/cover;
    height: 600px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}

.search {
    display: flex;
    justify-content: space-around;
    padding: 0 300px;
    align-items: center;
}

input[type="text"] {
    box-sizing: border-box;
    height: 50px;
    width: 400px;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    padding: 20px;
    align-items: center;
}

button {
    width: 130px;
    height: 40px;
    background-color: #DF8D2D;
    border: none;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    border-radius: 20px;
}


/*about us*/

.heading {
    font-size: 2rem;
    width: 200px;
    margin: 30px auto;
    align-items: center;
    text-align: center;
    border-bottom: 4px solid gray;
}

.flex {
    display: flex;
    margin: 50px 30px;
    padding: 20px 30px;
    justify-content: space-between;
    margin: 0 100px;
}

.abtdes {
    display: block;
    padding-left: 50px;
}


/*our sevices*/

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
    justify-content: space-between;
    margin-bottom: 20px;
}


/*contact us*/


/*MAP DEFAULT SETTINGS*/

.mapouter {
    position: relative;
    text-align: right;
    height: 450px;
    width: 600px;
}

.gmap_canvas {
    overflow: hidden;
    background: none!important;
    height: 450px;
    width: 600px;
}


/*map end*/

.cont {
    display: flex;
    margin: 40px 100px;
    justify-content: space-between;
}

.msg {
    display: block;
    padding: 20px;
    height: 370px;
    font-size: 20px;
    border: 3px solid gray;
    border-collapse: collapse;
    width: 300px;
}

.leave {
    display: block;
    border-bottom: 3px solid gray;
    padding-bottom: 10px;
}

.form {
    padding: 0px 10px;
}

.form .fa {
    color: gray;
}

.box {
    border-bottom: 3px solid gray;
    margin: 10px 0px;
}

.box input {
    background: none;
    height: 40px;
    width: 80%;
    padding: 5px 10px;
    font-size: 15px;
    border: none;
    outline: none;
}

input[type="button"] {
    width: 100%;
    height: 30px;
    text-transform: uppercase;
    font-weight: bolder;
    color: white;
    background-color: #3189C9;
    border: none;
    margin-top: 20px;
}

.your {
    border: 2px solid gray;
    width: 100%;
    height: 100px;
}


/*footer*/

footer {
    background-color: #202a40;
    color: white;
}

.foot {
    display: flex;
    justify-content: space-between;
    padding: 20px 100px 20px 70px;
}

.foot a {
    text-decoration: none;
    color: white;
}

.foot ul {
    list-style: none;
}

.desc {
    width: 500px;
    display: block;
    margin: auto 0;
}

.footlogo {
    position: relative;
    display: block;
    height: 150px;
    text-align: center;
    line-height: 120px;
    z-index: 1;
}

.circ {
    background-color: white;
    display: block;
    width: 125px;
    height: 125px;
    position: absolute;
    top: 0px;
    right: 570px;
    border-radius: 100px;
    z-index: -1;
}

.footlogo .job {
    font-size: 20px;
    color: #3189C9;
}

.footlogo .khoja {
    font-size: 20px;
    color: #DF8D2D;
}

.copy {
    display: block;
    text-align: center;
    background-color: #303031;
    font-size: 10px;
    padding: 10px;
    margin: 0px;
}


/*login*/

.main-login {
    z-index: 5;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    content: "";
}

.main-signup {
    z-index: 5;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    content: "";
}

.main .container {
    display: flex;
    position: absolute;
    margin-top: 50px;
    margin-left: 170px;
    background-color: white;
    z-index: 1000;
    height: 500px;
}

.main img {
    width: 450px;
    background-size: cover;
}

.main .login {
    display: block;
    padding: 10px 80px;
    position: relative;
    line-height: 30px;
}

.main .job {
    color: #3189C9;
    font-weight: 600;
    font-size: 40px;
}

.main .khoja {
    color: #DF8D2D;
    font-weight: 600;
    font-size: 40px;
}

.main .btn {
    background-color: #3189C9;
    color: white;
    padding: 10px 24px;
    margin: 8px 0;
    border: none;
    width: 300px;
    border-radius: 40px;
    cursor: pointer;
    text-transform: uppercase;
    position: absolute;
    bottom: 15px;
    right: 10%;
}

.main .btn-1 {
    background-color: #DF8D2D;
    color: white;
    padding: 10px 24px;
    margin: 8px 0;
    border: none;
    width: 300px;
    border-radius: 40px;
    cursor: pointer;
    text-transform: uppercase;
    position: absolute;
    bottom: 15px;
    right: 10%;
}

.main .btn:hover {
    background-color: #1a8ddf;
}

.main .btn-1:hover {
    background-color: #ca7310;
}

.main .container h1 {
    font-size: 38px;
    margin-bottom: 15px;
    padding: 13px 0;
}

.main .box {
    border-bottom: 3px solid green;
    margin: 32px 0px;
}

.main .box input {
    background: none;
    width: 75%;
    margin: -10px;
    padding-left: 20px;
    font-size: 20px;
    border: none;
    outline: none;
}

.main .fa-times {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 40px;
    color: black;
    filter: opacity(0.5);
}

.main .box i {
    color: #ccc;
}

.main .tick {
    color: grey;
}

.main .txt {
    font-size: 10px;
    font-weight: bold;
}

.main .txt-signup {
    margin-top: -20px;
    font-size: 10px;
    font-weight: bold;
}

.main div a {
    color: #1c84da;
}


/*login css ends here*/


/*signup css starts here*/


/*signup css ends here*/